.root{
    
}

.textSection{
    height:300px;
}

.root ul{
    padding-right: 2rem;
    list-style-type: none;
}

.root li{
    box-shadow:rgba(0, 0, 0, 0.07) 0px -1px inset;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    cursor: pointer;
}